<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="./build/css/main.min.css">
        <link rel="stylesheet" href="https://necolas.github.io/normalize.css/latest/normalize.css">
        <% include ../src/partials/_fonts %>
    </head>
    <body>

        <% include ../src/partials/_testimonial %>

        <% include ../src/partials/_cta %>

        <% include ../src/partials/_filterable-content %>
        <script src="./build/js/main.min.js"></script>
    </body>
</html>